<div class="content">
    <div class="card-container">
        <div class="card card-small"  routerLink="home" tabindex="0">
          <span>Home</span>
        </div>    
        <div class="card card-small" routerLink="about" tabindex="0"> 
          <span>Despre</span>
        </div>
        <div class="card card-small" routerLink="services" tabindex="0">
           <span>Servicii</span>
        </div>
        <div class="card card-small" (click)="0" tabindex="0">
          <span>Contact</span>
        </div>
      </div>
</div>
