<div class="content">
    <div>
        <h1>Services</h1>
        <h2>
            Intretinerea elementelor din calea de rulare
        </h2>
        <p>
Dacă elementele caii de rulare (ex. role, intinzator, roata dintata) încep să se uzeze, înlocuiți-le prompt.
Daca dinții de la rota de tractiune sunt uzati, pot scoate piesele metalice de tractiune din șenile, iar rolele uzate pot tăia zona de rulare a senilei, provocând pagube grave.
În plus, este important să folosiți o mașină de spălat sub presiune pentru a curăța calea de rulare. Neglijarea spălării poate duce la defectarea mecanismelor de recul, ceea ce poate duce la ruperea cablurilor de otel din senila.
Speram sa gasiti informatii utile pentru dvs. Va stam la dispozitie cu senile de cauciuc pentru aproape orice tip de miniexcavator existent pe piata. De asemenea, va putem furniza si elemente din trenul de antrenare, cum ar fi : role de tractiune, intinzatoare si role de sustinere. Daca este necesar,
 nu ezitati sa ne contactati, vom fi bucurosi sa va raspundem la intrebarile dvs., in cel mai scurt timp.
        </p>

    </div>
    <div>
        <img
        width="320"
        height="240"
        alt="Radiali"
        src="/assets/images/services_1.jpg"
      />
    </div>
</div>

