<div class="content">
        <h1>Services</h1>
        <div class="card">
            <div class="row">
                    <div class="cell">
                        <h2>
                            Intretinerea elementelor din calea de rulare
                        </h2>
                        <p>
                        Dacă elementele caii de rulare (ex. role, intinzator, roata dintata) încep să se uzeze, înlocuiți-le prompt.
                        Daca dinții de la rota de tractiune sunt uzati, pot scoate piesele metalice de tractiune din șenile, iar rolele uzate pot tăia zona de rulare a senilei, provocând pagube grave.
                        În plus, este important să folosiți o mașină de spălat sub presiune pentru a curăța calea de rulare. Neglijarea spălării poate duce la defectarea mecanismelor de recul, ceea ce poate duce la ruperea cablurilor de otel din senila.
                        Speram sa gasiti informatii utile pentru dvs. Va stam la dispozitie cu senile de cauciuc pentru aproape orice tip de miniexcavator existent pe piata. De asemenea, va putem furniza si elemente din trenul de antrenare, cum ar fi : role de tractiune, intinzatoare si role de sustinere. Daca este necesar,
                        nu ezitati sa ne contactati, vom fi bucurosi sa va raspundem la intrebarile dvs., in cel mai scurt timp.
                        </p>

                    </div>
                    <div class="cell with-image">
                        <img
                        width="320"
                        height="240"
                        alt="Radiali"
                        src="/assets/images/services_1.jpg"
                    />
                    </div>
            </div>
            <div class="row">
                    <div  class="cell with-image">
                        <img
                        width="320"
                        height="240"
                        alt="Radiali"
                        src="/assets/images/services_2.jpg"/>
                    </div>
                    <div  class="cell">
                        <h2>
                            Evitați intinderea excesiva a senilelor
                        </h2>
                        <p>
                            Consultați întotdeauna manualul producatorului pentru o intindere corespunzătoare a senilelor, deoarece mașinile de dimensiuni diferite necesită tensiuni de intindere diferite !
                            
                            Verificați tensiunea din senila în fiecare săptămână. În timp ce unii oameni consideră că menținerea tensiunii ridicate in senila, va face ca aceasta să dureze mai mult, rezultatul va fi exact opus !
                            
                            Este necesară o anumită flexibilitate sau senila va reacționa în mod similar cu o anvelopă supra-umflată. În schimb, senilele de cauciuc care sunt prea slabe pot deteriora părțile de contact din jurul caii de rulare, senila poate sarii de pe intinzator.
                        </p>

                    </div>

            </div>
        </div>

</div>