:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  margin: 0px auto 32px;
  padding: 0 16px;
  //max-width: 1200px;
  align-items: center;
}

.row-rewerse-wrap {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: stretch;
}
.row {
  display: flex;
  // justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
}
.cell {
  flex-grow: 2;
  max-width: 900px;
}
.with-image {
  flex-grow: 1;
  text-align: right;
}
