<form class="product-form"  [formGroup]="productForm">
    <div class="row">
        <mat-form-field class="product-half-width">
            <mat-label>Product  ID</mat-label>
            <input matInput formControlName="produs_id" disabled>
          </mat-form-field>
          <mat-form-field class="product-half-width">
              <mat-label>Product  Name</mat-label>
              <input matInput placeholder="Nume Produs" formControlName="nume">
            </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="product-half-width">
            <mat-label>Model</mat-label>
            <input matInput placeholder="Model Produs" formControlName="model">
          </mat-form-field>
        
        <mat-form-field class="product-half-width">
            <mat-label>Dimensiuni</mat-label>
            <textarea matInput 
            formControlName="dimensiuni"></textarea>
          </mat-form-field>
    </div>
    <div class="row">       
        <mat-form-field class="product-half-width">
            <mat-label>Descriere</mat-label>
            <textarea matInput 
            formControlName="description"
            placeholder="Ex. produs specific ..."></textarea>
          </mat-form-field>
    </div>

    <hr>
    <div class="row-buttons">
        <button mat-button (click)="doCancel()">Anuleaza</button>
        <button mat-button color="primary" (click)="doSave()">Salveaza</button>
    </div>
    <h3>{{message}}</h3>
  </form>
