<div class="content">
        <h1>Bine ati venit pe site-ul companiei Radiali.</h1>
        <div class="card">
            <div class="row">
                <div class="cell">
                    <p>
                        Speram sa gasiti informatii utile pentru dvs. Va stam la dispozitie cu senile de cauciuc pentru aproape orice tip de miniexcavator existent pe piata. De asemenea, va putem furniza si elemente din trenul de antrenare, cum ar fi : role de tractiune, intinzatoare si role de sustinere. Daca este necesar,
                        nu ezitati sa ne contactati, vom fi bucurosi sa va raspundem la intrebarile dvs., in cel mai scurt timp.
                    </p>

                </div>
                <div class="cell with-image">
                    <img
                    width="320"
                    height="240"
                    alt="Radiali"
                    src="/assets/images/maxresdefault2.jpg"/>
                </div>
            </div>
        </div>
</div>
