<div class="content">
        <h1>{{"HOME.SUB-TITLE" | translate}}</h1>
        <div class="card">
            <div class="row">
                <div class="cell">
                    <p>
                        {{"HOME.MAIN-MSG" | translate}}
                    </p>

                </div>
                <div class="cell with-image">
                    <img
                    width="320"
                    height="240"
                    alt="Radiali"
                    src="/assets/images/maxresdefault2.jpg"/>
                </div>
            </div>
        </div>
</div>
